importFrom("graphics", "abline", "axis", "legend", "lines", "matplot", "par", "plot", "polygon")
importFrom("stats", "dnorm", "integrate", "lm", "optimize", "pnorm", "qnorm", "sd")
exportPattern(murphydiagram, murphydiagram_diff, expected_score_mean, expected_score_quantile, fluctuation_test, extremal_score, apl_score, ase_score)
